:host {
  display: block;
  background-color: #1e1e1e;
  color: white;
  font-family: sans-serif;
}

.cofradia-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
}

.imagen-lateral {
  width: 20vw;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.imagen-lateral img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenido-central {
  flex: 1;
  max-height: 100vh;
  overflow-y: auto;
  padding: 40px;
  box-sizing: border-box;
}


.contenido-central h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.info-secundaria {
  font-size: 15px;
  color: #ccc;
  margin-bottom: 20px;
}

.info-secundaria p {
  margin: 4px 0;
}

.texto-informacion {
  font-size: 18px;
  line-height: 1.6;
}
