<nav class="navbar navbar-expand-lg bg-white px-4 py-2 align-items-center">
  <div id="logo" class="d-flex align-items-center me-auto">
    <img src="/images/imagenes/logoWCsinFondo.png" alt="Logo" width="80" class="me-2" />
    <h1 class="text-uppercase">PASSIONKOFRADE</h1>
  </div>

  <div class="d-flex flex-wrap gap-2" id="divNav">
    <a class="btn btn-brown text-white" routerLink="/login">INICIAR SESIÓN / REGISTRARSE</a>
    <a class="btn btn-brown text-white" routerLink="/agenda">AGENDA</a>
    <a class="btn btn-brown text-white" routerLink="/diario">DIARIO</a>
    <a class="btn btn-brown text-white" routerLink="/seleccionCofradia">COFRADÍAS</a>
    <a class="btn btn-brown text-white" routerLink="/contacto">CONTACTA CON NOSOTROS</a>
  </div>
</nav>
