<nav class="navbar px-4 py-2">
  <a id="logo" class="navbar-brand" routerLink="/inicio">
    <img src="../../../../public/images/imagenes/logoWCsinFondo.png" alt="Logo" width="60" />
    <span class="brand-text">PASSIONKOFRADE</span>
  </a>

  <button class="menu-toggle d-lg-none" (click)="toggleMenu()">
    <span class="hamburger"></span>
  </button>

  <div id="divNav" class="nav-links hidden-mobile">
    <a class="nav-item" routerLink="/login" (click)="cerrarMenu()">Entrar / Registro</a>
    <a class="nav-item" routerLink="/agenda" (click)="cerrarMenu()">Agenda</a>
    <a class="nav-item" routerLink="/diario" (click)="cerrarMenu()">Diario</a>
    <a class="nav-item" routerLink="/seleccionCofradia" (click)="cerrarMenu()">Cofradías</a>
    <a class="nav-item" routerLink="/contacto" (click)="cerrarMenu()">Contacto</a>
    <button class="nav-item logout" [disabled]="!usuarioAutenticado" [class.disabled]="!usuarioAutenticado" (click)="cerrarSesion(); cerrarMenu()">Cerrar sesión</button>
  </div>
</nav>
