<div class="reset-password-form">
  <h2>Restablecer contraseña</h2>

  <div class="input-wrapper">
    <i class="bi bi-lock"></i>
    <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" placeholder="Nueva contraseña" />
    <i class="bi toggle-password" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
      (click)="showPassword = !showPassword"></i>
  </div>

  <div class="input-wrapper">
    <i class="bi bi-shield-lock"></i>
    <input [type]="showConfirmPassword ? 'text' : 'password'" [(ngModel)]="passwordConfirm"
      placeholder="Confirmar contraseña" />
    <i class="bi toggle-password" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"
      (click)="showConfirmPassword = !showConfirmPassword"></i>
  </div>

  <button (click)="resetPassword()">Cambiar contraseña</button>

  <p *ngIf="mensaje" class="text-success">{{ mensaje }}</p>
  <p *ngIf="error" class="text-danger">{{ error }}</p>
</div>