/*------------------------ MAIN ---------------------------------*/

.fotomain {
  margin: -2px;
  padding: 0px;
  height: 800px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
}

.fotomain:hover {
  transform: scale(1.1);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.fotomain::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  z-index: 1;
}

.fotomain:hover::before {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  );
}

.fotomain::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

#ar1::after {
  content: "Santísimo Cristo de la Sagrada Cena";
}
#ar2::after {
  content: "Nuestra Señora de la Soledad Coronada";
}
#ar3::after {
  content: "Santísimo Cristo de los Milagros";
}

.fotomain:hover::after {
  opacity: 1;
}

/*-------------------------------------*/
section {
  display: flex;
  width: 100vw;
}
#ar1 {
  background-image: url(../../../../public/images/imagenes/fotocristocena.jpg);
  width: 20%;
}
#ar2 {
  background-image: url(../../../../public/images/imagenes/soledaddemenamanos.jpg);
  width: 65%;
}
#ar3 {
  background-image: url(../../../../public/images/imagenes/zamarrillanico.jpg);
  /*zamarrillanico*/
  width: 290px;
}

p{
  display: none;
}


@media (max-width: 768px) {
  #ar1, #ar2, #ar3 {
    display: none;
  }

  #arMovil {
    display: block;
    width: 100vw;
    height: 800px;
    background-image: url(../../../../public/images/imagenes/ddpnico.jpg);
    background-size: cover;
    background-position: center;
    transform: none !important;
  }

  #arMovil:hover::before {
    background-color: transparent !important;
  }

  #arMovil:hover {
    transform: none !important;
    box-shadow: none !important;
  }


  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section p {
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    display: block;
  }
}
