<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Overlay oscuro -->
    <div id="overlay" style="display:none;"></div>

    <!-- Modal de detalles -->
    <div id="detalleEvento">
        <h3 id="detalleTitulo"></h3>
        <p id="detalleLugar"></p>
        <p id="detalleHora"></p>
        <p id="detalleDescripcion"></p>
        <button id="cerrarDetalle">Cerrar</button>
    </div>


    <full-calendar [options]="calendarOptions"></full-calendar>

</body>

</html>