<div class="privacy-container">
    <div class="content-card">
        <h1>Términos de Uso</h1>

        <section>
            <h2>1. Condiciones Generales</h2>
            <p>El acceso y uso de Cofradiario atribuye la condición de USUARIO, que acepta los términos aquí reflejados.
                El uso de la web implica la aceptación de estas condiciones.</p>
        </section>

        <section>
            <h2>2. Uso del Portal</h2>
            <p>Cofradiario proporciona acceso a informaciones, servicios y datos (en adelante, "los contenidos")
                propiedad de Javier Guerrero Montero o de sus colaboradores.</p>
            <p>El USUARIO asume la responsabilidad del uso del portal. Dicha responsabilidad se extiende al registro que
                fuese necesario para acceder a determinados servicios (como añadir favoritos o comentar).</p>
        </section>

        <section>
            <h2>3. Normas de Conducta</h2>
            <p>El USUARIO se compromete a hacer un uso adecuado de los contenidos y servicios, y a no emplearlos para:
            </p>
            <ul>
                <li>Incurrir en actividades ilícitas, ilegales o contrarias a la buena fe y al orden público.</li>
                <li>Difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico-ilegal, de apología del
                    terrorismo o atentatorio contra los derechos humanos.</li>
                <li>Provocar daños en los sistemas físicos y lógicos de Cofradiario.</li>
            </ul>
        </section>

        <section>
            <h2>4. Moderación</h2>
            <p>Cofradiario se reserva el derecho de retirar todos aquellos comentarios y aportaciones que vulneren el
                respeto a la dignidad de la persona o que, a su juicio, no resultaran adecuados para su publicación.</p>
        </section>

        <div class="actions">
            <button [routerLink]="['/inicio']" class="btn-home">Volver al Inicio</button>
        </div>
    </div>
</div>