<div class="container eventos-container mt-5">
  <h1 class="titulo-eventos">Próximos Eventos</h1>

  <div *ngIf="eventos.length > 0; else noEventos" class="row">
    @for (evento of eventos; track evento.id) {
      <div class="col-md-6 col-lg-4 d-flex">
        <app-evento
          class="flex-fill"
          [evento]="evento"
          [cofradias]="cofradias"
        ></app-evento>
      </div>
    }
  </div>

  <ng-template #noEventos>
    <div class="no-eventos-container">
      <p class="no-eventos-texto">
        <i class="bi bi-calendar-x"></i>
        No existen eventos
      </p>
    </div>
  </ng-template>
</div>
