<footer class="site-footer">
    <div class="footer-container">
        <p>-- 2025 Cofradiario de Málaga | Diseñado y desarrollado por Javier Guerrero Montero --</p>

        <div class="footer-legal-links">
            <a routerLink="/aviso-legal">Aviso Legal</a> |
            <a routerLink="/politica-privacidad">Política de Privacidad</a> |
            <a routerLink="/terminos-uso">Términos de Uso</a>
        </div>

        <p class="creditos">
            Imágenes por
            <a href="https://instagram.com/nicocanelafoto_" target="_blank">Nico Canela</a> y
            <a href="https://www.instagram.com/aliciacaro_fotografiacofrade" target="_blank">Alicia Caro</a>
        </p>

        <div class="footer-social">
            <a href="https://instagram.com/javigm_4" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/javigm4" target="_blank"><i class="fab fa-github"></i></a>
            <a href="mailto:javierguerreromontero@gmail.com"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
</footer>